// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

p {
    font-family: $font-paragraph;
}

span {
    font-family: $font-paragraph;
}

a {
    font-family: $font-links;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}