// Footer
footer {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background: $primary;
    color: $paper;

    .left-col {
        align-items: flex-start;

        img {
            max-width: calc(150px + 5vw);
        }
    }

    .right-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            color: $paper;
            font-weight: bold;
            margin-left: 30px;
            margin-right: 30px;
            @include transition(all .3s ease);

            &.button-footer-link {
                border: 2px solid $paper;
                @include border-radius(4px);
                padding: 13px 30px;
            }
        }
    }
}