// Header
header {
    height: 100vh;
    background: blue;
    @extend %flexbox;
    align-items: center;

    .col-lg-5 {
        background: red;
        vertical-align: middle;

    }

    span {
        text-transform: uppercase;
        color: $primary;
        letter-spacing: 2px;
    }

    h1 {
        margin-top: 5px;
        font-size: calc(35px + 1.5vw);

    }

    p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}