section {
  padding-top: 20vh;
  padding-bottom: 20vh;

  @include breakpoint(mobileonly) {
    padding-left: 20px;
    padding-right: 20px;
  }


  span {
    text-transform: uppercase;
    color: $primary;
    letter-spacing: 2px;
  }

  h1 {
    font-size: calc(35px + 1.5vw);
    margin-top: 5px;
  }

  &.video {
    iframe {
      height: 70vh;
      width: 100%;
      @include border-radius(10px);
      box-shadow: 0 9px 19px rgba(0, 0, 0, 0.15), 0 7px 6px rgba(0, 0, 0, 0.11);
    }
  }

  &.small-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &.quote {
    background: $primary;
    text-align: center;

    h3 {
      color: $paper;
      font-size: calc(25px + 0.3vw);
    }
  }

  &.features {
    background: $wave;
  }

  &.faq {}

  &.purchase {
    background: $wave;
  }

  &.contact {
    background: $secondary;
    text-align: center;

    h3 {
      color: $paper;
      font-size: calc(25px + 0.3vw);
    }
  }
}